<!DOCTYPE html>
<html>
<head>
  <title>ForumApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<%=flash[:notice] %>
<% end %>

<% if flash[:alert] %>
	<%=flash[:alert] %>
<% end %>

<% if current_user %>
	<%=link_to "Log Out", log_out_path %>
<% else %>
	<%= link_to "Log In", log_in_path %>
	<%=link_to "Sign Up", new_user_path %>
<% end %>
<br>
<%= yield %>

</body>
</html>
